#rainbow{
height: 300px;
width: 100%;
margin: center;
}


#location{
height: 500px;
width: 20%;
margin-left: left;
text-align: right;
overflow: auto;
}

#reception{
height: 500px;
width: 75%;
margin-left: right;

}

#shopoutside{
height: 300px;
width: 60%;
text-align: left;

}
	

#shopinside{
height: 250px;
width: 60%;
margin-left: right;
}

#cafe{
height: 300px;
width: 40%;
margin-left: left;
}

#zoo2{
height: 300px;
width: 40%;

}

	
#nav:relative{
top:240px;
}
#nav a{
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: black;
 
}
#nav a:hover{
 background-color: LightGrey;
 color: white;
}
#nav a.active{
 background-color: green;
 color: white;
}

#div1{
width: 1400px;
height: 70px;
position:absolute;
right: 100px;
top: 650px;
padding: 10px;
border: solid 0px;
border-radius: 20%;
}

#divbox{
width: 500px;
height: 50px;
position: absolute;
top: 575px;
left: 20px;
padding: 10px;
border: solid 0px;
border-radius: 0%;
}


#div2{
width: 500px;
height: 100px;
position: absolute;
top: 600px;
right:300px;
padding: 10px;
border: solid 0px;
border-radius: 5%;
float: right
}

#div3{
width: 500px;
height: 75px;
position: absolute;
top: 840px;
left: 70px;
padding: 10px;
border: solid 0px;
border-radius: 20%;
}

#div4{
width: 500px;
height: 90px;
position: absolute;
top: 1000px;
right: 300px;
padding: 10px;
border: solid 0px;
border-radius: 0%;
float: right
}

#div5{
width: 1150px;
height: 1050px;
position: absolute;
background: lightgreen;
top: 575px;
right: 100px;
padding: 10px;
border: solid 2px;
border-radius: 5%;
float: right
}


#div6{
width: 1350px;
height: 400px;
position: absolute;
background: background-image:url("pettingzoo.jpeg");
top: 600px;
right: 300px;
padding: 10px;
border: solid 3px;
border-radius: 5%;
float: left
}

#div7{
width: 250;
height: 250px;
background: skyblue;
top: 100px;
right: 300px;
padding: 10px;
border: solid 5px;
border-radius: 20%;
float: left
}

#div8{
width: 250;
height: 250px;
position: relative;
background: green;
bottom: -500px;
right: 0px;
padding: 10px;
border: solid 5px;
border-radius: 20%;
float: right
}

.openinghours {
    font-family:Monaco;
    border-radius:4px;
    margin:10px;
    box-shadow: 0 0 10px black;
    padding:0 10px 0 10px;
    overflow: hidden;
    display: inline-block;
	
}
.openinghourscontent {
    width: 250;
	text-align: center;
	position:absolute;
	right: 250px;
	bottom: -350px;
	border: solid 2px;
	border-radius: 10%;
	background-color: hsl(0, 20%, 50%);">hsl(0, 20%, 50%);
		
}
.openinghourscontent h2 {
    display:block;
    text-align:center;
    margin-top:.33em;
}
.openinghourscontent button {
    color:white;
    font-family:Courier New;
    font-size:large;
    font-weight:bolder;
    background-color:#4679BD;
    border-radius:4px;
    width:100%;
    margin-bottom:10px;

}
.today {
    color: #8AC007;
}
.opening-hours-table tr td:first-child {
    font-weight:bold;
}
#open-status {
    display:block;
    margin-top:-1em;
    text-align:center;
    border:dotted lightgrey 3px;
}
.openorclosed:after {
    content:" open during these hours:";
}
.open {
    color:green;
}
.open:after {
    content:" Open";
    color: #6C0;
}
.closed:after {
    content:" Closed";
    color: red;
}
.opening-hours-table tr td {
    padding:5px;
}



#div14{
width: 1000px;
height: 300px;
position: absolute;
top: 660px;
left: 100px;
padding: 10px;
border: solid 2px;
border-radius: 20%;
}




#div16{
width: 500px;
height: 150px;
position: absolute;
top: 300px;
right: 300px;
padding: 10px;
border: solid 5px;
border-radius: 20%;
float: right;
}

/* Importing the Roboto font from Google Fonts. */
@import url("https://fonts.googleapis.com/css?family=Roboto:400");

/* Set font of all elements to 'Roboto' */
* {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

/* Remove outline of all elements on focus */
*:focus {
	outline: 0;
}

body {
	background: #263238;  /* Set background color to #263238*/
}

h3 {
	text-align: center;
}

/* Add styles to 'container' class */
.container {
	padding: 12px 24px 24px 24px;
	margin: 50px 30px;
	background: #E3F2FD;
	border-radius: 4px;
	position:absolute;
	top: 50px;
	right: -750px;
}

/* Add styles to 'label' selector */
label {
	font-size: 0.85em;
	margin-left: 60px;
}

/* Add styles to 'input' and 'textarea' selectors */
input[type=text],input[type=email], textarea {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Add styles to show 'focus' of selector */
input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border: 1px solid green;
}

/* Add styles to the submit button */
input[type=submit] {
	background: #64B5F6;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

/* Add styles for 'focus' property */
input[type=submit]:focus {
	background: #A5D6A7;
	color: whitesmoke;
}

/* Style 'hover' property */
input[type=submit]:hover {
	background: #2196F3;
}

/* Align items to center of the 'div' with the class 'center' */
.center {
	text-align: center;
}



html, body{	
margin: 0;
padding: 0;
border: 0;
}
body{
background-color: white;
}


#scroll
{
overflow: scroll;
}
	
#footer{
position:relative;
top:700px;
width: 100%;
background-color:black;
color: white;
text-align: left;

}

.site-main,
div.content-area,
div.page {
    margin-bottom: 0em;
}